<div class="row">
  <div class="col s8 offset-s2">
    <h1 class="center">Create Your Profile</h1>
    <h4 class="center">Be a part of the Hack2Save community</h4><br />
    <%= render 'form' %>
  </div>
</div>
